* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f7f9;
}

header {
  width: 100%;
  background-color: white;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.main-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 1440px;
  height: 124px;
  background-color: white;
}

.logo-search-container {
  display: flex;
  align-items: center;
}

.logo-container {
  margin-right: 64px;
}

.search-container input {
  width: 400px;
  height: 44px;
  border-radius: 70px;
  padding: 0px 64px;
  outline: none;
  border: 1px solid #c3d4e940;
}

.search-container {
  position: relative;
}

.search-icon,
.x-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 20px;
  top: 50%;
  transform: translate(0, -50%);
  color: #596780;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  rotate: 90deg;
  transition: opacity 0.25s, rotate 0.25s;
  cursor: pointer;
}

.filter-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
}

.search-container:has(input:placeholder-shown) .search-icon {
  opacity: 1;
  rotate: 0deg;
  visibility: visible;
  pointer-events: all;
}

.search-container:has(input:not(:placeholder-shown)) .x-icon {
  opacity: 1;
  rotate: 0deg;
  visibility: visible;
  pointer-events: all;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  appearance: none;
}

.header-setting button {
  all: unset;
}

.header-setting {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.list-container {
  display: flex;
  border-radius: 90px;
  border: 1px solid #c3d4e940;
  width: 44px;
  padding: 10px;
}

.settings {
  height: 22px;
  width: 22px;
}

.notification-bell {
  position: relative;
}

.notification-red {
  position: absolute;
  left: 25px;
  bottom: 20px;
}
